@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Oswald Bold", sans-serif; }

.header {
  background-color: #2E323F;
  display: flex;
  justify-content: space-between;
  padding: 1rem; }

.nav-toggle {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease; }
  .nav-toggle:hover, .nav-toggle:focus {
    background-color: #abb0c1; }
  .nav-toggle:hover .hamburger {
    background: #e6e7ec; }
    .nav-toggle:hover .hamburger::before, .nav-toggle:hover .hamburger::after {
      background: #e6e7ec; }

.hamburger {
  width: 50%;
  position: relative; }

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: .25rem;
  background: black;
  transition: all 0.2s ease; }

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%; }

.hamburger::before {
  transform: translateY(-6px); }

.hamburger::after {
  transform: translateY(3px); }
