@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 1.6; }

img {
  max-width: 100%; }

.container {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto; }

.blur-effect {
  filter: blur(5px); }

.header {
  background-color: #2e323f;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center; }
  .header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    filter: drop-shadow(0 0.8rem 1rem rgba(0, 0, 0, 0.3)); }
  .header__logo__svg {
    fill: #fff; }

.nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  background-color: #2e323f;
  transition: all 0.5s ease-in-out; }
  .nav__list {
    list-style: none;
    padding-top: 3rem; }
    .nav__list--secondary {
      margin-top: 3rem; }
  .nav__item {
    margin-bottom: 0.5rem;
    padding: 1rem 2rem; }
  .nav__link {
    position: relative;
    border-radius: 10rem;
    transition: color 0.25s ease-in-out;
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase; }
    .nav__link:hover {
      color: #a59678; }
    .nav__link::after {
      content: "";
      display: block;
      height: 0.4rem;
      background-color: #a59678;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.75rem;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform 0.25s ease-in-out; }
    .nav__link:hover::after {
      transform: scale(1, 1); }
  .nav--visible {
    display: block;
    z-index: 100; }
  .nav-toggle {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    box-shadow: 0 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.5); }
    .nav-toggle:hover, .nav-toggle:focus {
      background-color: #f2f2f2; }
    .nav-toggle:hover .hamburger {
      background: #a59678; }
      .nav-toggle:hover .hamburger::before, .nav-toggle:hover .hamburger::after {
        background: #a59678; }

.hamburger {
  width: 50%;
  position: relative; }

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 0.25rem;
  background: black;
  transition: all 0.2s ease; }

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%; }

.hamburger::before {
  transform: translateY(-6px); }

.hamburger::after {
  transform: translateY(3px); }

.hero {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #3b4050;
  color: #fff; }
  .hero__title {
    font-size: clamp(3.5rem, 6vw, 9rem); }
  .hero__colored-text {
    color: #a59678; }
  .hero-text {
    align-self: flex-end; }
  .hero__para {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 1.5rem; }
  .hero__btn {
    display: inline-block;
    background-color: #a59678;
    padding: 0.8rem 1.8rem;
    border-radius: 10rem;
    color: #fff;
    font-size: 2.4rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center; }
  .hero__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem; }

.features {
  background-color: #f1f1f1;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .features__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem; }
  .features__text {
    text-align: center;
    color: #3b4050; }
    .features__text__title {
      font-size: 2rem;
      color: #a59678;
      margin-bottom: 0.5rem; }
    .features__text__para {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 1.4rem; }

.main {
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .main__primary-text {
    margin-bottom: 2rem; }
    .main__primary-text__title {
      color: #a59678;
      font-size: 2.2rem;
      margin-bottom: 1rem; }
    .main__primary-text__para {
      font-family: "Montserrat", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: #3b4050;
      margin-bottom: 2rem; }
    .main__primary-text__img {
      margin-bottom: 2rem;
      border-radius: 1rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }
  .main__secondary-text {
    text-align: center;
    color: #fff;
    margin-top: 6rem; }
    .main__secondary-text-box {
      background-color: #2e323f;
      padding: 5rem 3rem 7rem;
      border-radius: 1.5rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }
    .main__secondary-text__title {
      margin-bottom: 1rem;
      font-size: 2.2rem; }
    .main__secondary-text__para {
      font-family: "Montserrat", sans-serif;
      font-size: 1.4rem;
      font-weight: 400; }
    .main__secondary-text__flex {
      display: flex;
      flex-direction: column;
      gap: 2rem; }

.footer {
  background-color: #3b4050;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .footer__title {
    color: #fff;
    font-size: clamp(4rem, 5vw, 6rem);
    margin-bottom: 4rem;
    text-align: center; }
  .footer-main {
    display: grid;
    row-gap: 3rem; }
  .footer__content__title {
    color: #a59678;
    margin-bottom: 1rem;
    font-size: 2rem;
    white-space: nowrap; }
  .footer__content__link {
    position: relative;
    margin-bottom: 2rem;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    width: fit-content;
    transition: color 0.25s ease-in-out; }
    .footer__content__link::after {
      content: "";
      display: block;
      height: 0.4rem;
      background-color: #a59678;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.75rem;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform 0.25s ease-in-out; }
    .footer__content__link:hover::after {
      transform: scale(1, 1); }
    .footer__content__link:hover {
      color: #a59678; }
  .footer__content__link, .footer__content__para {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff; }

@media only screen and (min-width: 596px) {
  .features__flex {
    flex-direction: row; } }

@media only screen and (min-width: 700px) {
  .main__secondary-text__flex {
    flex-direction: row; }
  .footer-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem; }
  .hero__flex {
    flex-direction: row; }
  .hero__btn {
    padding: 1rem 2.5rem; }
  .nav-toggle {
    display: none; }
  .nav {
    display: block;
    position: relative;
    top: 0; }
    .nav__list {
      display: flex;
      padding-top: 0; }
      .nav__list--primary {
        display: flex;
        margin: 0 auto; }
      .nav__list--secondary {
        display: flex;
        margin-top: 0; } }

@media only screen and (min-width: 1000px) {
  .main__flex {
    display: flex;
    align-items: center;
    gap: 3rem; }
  .main__secondary-text__flex {
    flex-direction: column;
    margin-top: 0; }
  .footer-main {
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: 8rem; } }
