@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// variables
$primary-dark-color: #2e323f;
$primary-light-color: #3b4050;
$secondary-dark-color: #6f737f;
$secondary-light-color: #fff;
$accent-color: #a59678;

html {
  font-size: 62.5%;
}

body {
  font: {
    family: "Oswald", sans-serif;
    weight: 700;
  }
  line-height: 1.6;
}

img {
  max-width: 100%;
}

// utility classes

.container {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
}

// layout
.header {
  background-color: $primary-dark-color;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    filter: drop-shadow(0 0.8rem 1rem rgba(0, 0, 0, 0.3));
  }

  &__logo__svg {
    fill: $secondary-light-color;
  }
}

.nav {
  display: none;
  transition: all 0.5s ease-in-out;

  &__list {
    list-style: none;
    padding-top: 3rem;
    &--secondary {
      margin-top: 3rem;
    }
  }

  &__item {
    margin-bottom: 0.5rem;
    padding: 1rem 2rem;
  }

  &__link {
    position: relative;
    border-radius: 10rem;
    transition: color 0.25s ease-in-out;
    color: $secondary-light-color;
    font-size: 1.8rem;
    text: {
      decoration: none;
      transform: uppercase;
    }

    &:hover {
      color: $accent-color;
    }

    &::after {
      content: "";
      display: block;
      height: 0.4rem;
      background-color: $accent-color;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.75rem;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform 0.25s ease-in-out;
    }

    &:hover::after {
      transform: scale(1, 1);
    }
  }
  &--visible {
    display: block;
  }

  &-toggle {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    background-color: $secondary-light-color;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    box-shadow: 0 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.5);

    &:hover,
    &:focus {
      background-color: darken($secondary-light-color, 5%);
    }
    &:hover .hamburger {
      background: $accent-color;
      &::before,
      &::after {
        background: $accent-color;
      }
    }
  }
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 0.25rem;
  background: black;
  transition: all 0.2s ease;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $primary-light-color;

  &__title {
    font-size: 3.2rem;
  }
  color: $secondary-light-color;
  &__colored-text {
    color: $accent-color;
  }

  &-text{
    align-self: flex-end;
  }

  &__para {
    font: {
      family: "Montserrat", sans-serif;
      weight: 400;
      size: 1.5rem;
    }
    margin-bottom: 1.5rem;
  }
  &__btn {
    display: inline-block;
    background-color: $accent-color;
    padding: 0.8rem 1rem;
    border-radius: 10rem;
    color: $secondary-light-color;
    font-size: 1.5rem;

    text: {
      decoration: none;
      transform: uppercase;
      align: center;
    }
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

.features {
  background-color: #f1f1f1;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
  }

  &__text {
    text-align: center;
    &__title {
      font-size: 1.8rem;
      color: $accent-color;
      margin-bottom: .5rem;
    }
    &__para {
      font: {
        family: "Montserrat", sans-serif;
        weight: 400;
        size: 1.2rem;
      }
    }
    color: $primary-light-color;
  }
}

.main {
  padding-top: 6rem;
  padding-bottom: 6rem;
  &__primary-text {
    margin-bottom: 2rem;

    &__title {
      color: $accent-color;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__para {
      font: {
        family: "Montserrat", sans-serif;
        size: 1.2rem;
        weight: 400;
      }
      color: $primary-light-color;
      margin-bottom: 2rem;
    }
    &__img {
      margin-bottom: 2rem;
    }
  }
  &__secondary-text {
    text-align: center;
    color: $secondary-light-color;
    &-box {
      background-color: $primary-dark-color;
      padding: 2rem 3rem;
      // margin-bottom: 2rem;
    }
    &__title {
      margin-bottom: 1rem;
      font-size: 2.2rem;
    }
    &__para {
      font: {
        family: "Montserrat", sans-serif;
        size: 1.2rem;
        weight: 400;
      }
    }
    &__flex {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

.footer{
  background-color: $primary-light-color;
  padding-top: 5rem;
  padding-bottom: 5rem;
  &__title{
    color: $secondary-light-color;
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }

  &-main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__content__title{
    color: $accent-color;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  &__content__link{
    position: relative;
    margin-bottom: 2rem;
    text-decoration: none;
    display: block;
    width: fit-content;
    transition: color .25s ease-in-out;
    &::after {
      content: "";
      display: block;
      height: 0.4rem;
      background-color: $accent-color;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.75rem;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform 0.25s ease-in-out;
    }
    &:hover::after {
      transform: scale(1,1);
    }
    &:hover{
      color: $accent-color;
    }
  }

  &__content__link,
  &__content__para{
    font: {
      family: "Montserrat", sans-serif;
      weight: 400;
      size: 1.2rem;
    }
    color: $secondary-light-color;
  }
}

// first media breakpoint 595px