@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// variables
$header-background-color: #2E323F;

html{
  font-size: 62.5%;
}

body{
  font-family: "Oswald Bold", sans-serif;
}

img {
  max-width: 100%;
}

// utility classes

.container {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// layout
.header {
  background-color: $header-background-color;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header__logo{
  filter: drop-shadow(0 .8rem 1rem black);
}



.nav-toggle{
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  box-shadow: 0 .2rem 1rem .2rem rgba(0,0,0,.5);

    &:hover,
    &:focus {
      background-color:lighten($header-background-color, 45%);
    }
    &:hover .hamburger{
      background: #fff;
      &::before,
      &::after {
        background:  #fff;
      }
    }
}

.hamburger {
  width: 50%;
  position: relative;
  
}

.hamburger,
.hamburger::before,
.hamburger::after{
  display: block;
  margin: 0 auto;
  height: .25rem;
  background: black;
  transition: all 0.2s ease;
}

.hamburger::before,
.hamburger::after{
  content: "";
  width: 100%;
}

.hamburger::before{
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);

}
